<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>After making a changes, please respring for tweak to take effect.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.afiq.dtlpreferences</string>
			<key>key</key>
			<string>isEnabled</string>
			<key>label</key>
			<string>Enable</string>
			<key>PostNotification</key>
			<string>com.afiq.dtlpreferences.ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring (sbreload, if available)</string>
			<key>action</key>
			<string>respringDevice</string>
		</dict>
	</array>
	<key>title</key>
	<string>DoubleTapToLock</string>
</dict>
</plist>
