Package: com.afiq.doubletaptolock
Name: doubletaptolock
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Double tap homescreen to lock device
Maintainer: afiq
Author: afiq
Section: Tweaks
Version: 0.0.1-46+debug
Installed-Size: 424
