Package: com.afiq.doubletaptolock
Name: doubletaptolock
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: afiq
Author: afiq
Section: Tweaks
Version: 0.0.1-15+debug
Installed-Size: 432
